<aps-header applicationName="Task Manager" productLabel="APS Workspace" />


<div class="app-container">
    <h1 class="title">My Applications</h1>
    @if(apps().length){
    <div class="app-grid">
        @for (app of apps(); track app?.id) {
        <div class="app-card" (click)="openApp(app.url)">
            <div class="app-icon">
                {{ app.name.charAt(0).toUpperCase() }}
            </div>

            <div class="app-info">
                <h3>{{ app.name }}</h3>

                <a class="open-app">
                    Open App &rarr;
                </a>
            </div>
        </div>
        }
    </div>
    }
</div>


<aps-footer />